.adress {
  font-size: 24px;
  color : #6b6b6d;
}

.tel {
  font-size: 27px;
  color: #86ba3e;
  font-family: Open Sans-semibold;
  text-align: center;

}

.titre {
  font-size: 27px;
  color: #86ba3e;
}

.contacter {
  font-size: 14px;
  color: #005580;
}

.copyright {
  font-size: 13px;
  color: #161616;
  font-family: Open Sans-semibold;
  text-align: center;
}

.img-border {
  border: 0.5px solid #6b6b6d;
}

@media only screen and (max-width: 990px) {
  .adress {
    text-align: center;
  }
  #numero {
    font-size: 1.3rem;
  }
  .img-border {
    text-align: right;
  }
}

footer {
  background-color: #ececec;
}
