/*  SideBar */
#sideBar {
  position: fixed;
  top: 100px;
  cursor: pointer;
}

#sideBar:hover {
  position: fixed;
  top: 100px;
  z-index: 2;
  cursor: pointer;
}

#sideBar img:hover {
  width: 64px;
  height: 48px;
}

#sideBar .case5 img:hover {
  width: 64px;
  height: 57px;
}
