body {
  border-top: 5px #c1c2c4 solid;
}
header.row {
  margin-right: -15px;
}

header.flag {
  padding-left: 10px;
}

header nav.navbar.navbar-expand-lg.navbar-light.bg-white {
  padding: 0;
}

header downtown-toggle {
  background-image: url(images/point.jpg);
  background-repeat: repeat-y;
}

header.d-inline-block.align-top {
  margin-top: 10px;
  margin-right: 25px;
}

header.d-inline-block.align-top-1 {
  margin-right: 30px;
  margin-top: 30px;
}

header li a {
  font-family: "open sans" arial;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-top: 27px;
}

header.navbar-light .navbar-nav .nav-link:hover {
  color: #86ba3e;
}

header.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 14px;
}

header.dropdown-menu a {
  font-family: arial;
  text-transform: none;
}

header a.downtown-item {
  padding-top: 5px;
}

header a.btn.btn-success.center-block {
  margin-left: 30px;
}

header.user {
  font-size: 11px;
  text-transform: none;
}

header.btn {
    background-color: #6b962f;; /* Blue background */
    border: 1px #60872a solid; /* Remove borders */
    color: white; /* White text */
    text-shadow:  1px 1px 0px rgba(0, 0, 0, 0.21);
    font-family: arial;
    margin-top: 25px;
    margin-left: 25px;
    padding: 6px 6px; /* Some padding */
    font-size: 11px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
}

header.btn:hover {
    background-color: #739d37;
}

header.icon {
    padding-right: 5px;
}

@media only screen and (max width: 990px) {
  .italy {
    margin-right: 15px;
  }
}
