body .sep {
  background-color: #d2d2d2;
  padding-left: 0;
  height: 1px;
  margin: 20px 70px;
}

/*  body  */
/*  Accueil */
body .text-body {
  font-size: 14px;
  font-weight: regular;
}
body .bg-grey {
  background-color: #F5F5F5;
  border: 1px  solid #E3E3E3;
  min-height: 80px;
}

body .block1 {
  width: 1200px;
  height: 413px;
  padding-left: 165px;
  padding-right: 165px;
}
body .card-deck .card h1 {
  font-family: Open Sans;
  font-weight: semibold;
  font-size: 33px;
  color: #86BA3E;
}

body .card-deck .card p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555555;
  font-weight: bold;
}

body .card-deck .card button {
  border: 1px solid #3D7A3D;
  font-size: 14px;
  width: 242px;
  height: 30px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

body .card-deck .card img {
  width: 260px;
  height: 160px;
}

body .card-deck .card .card-body {
  padding: 9px;
}

body .btn {
  padding: 4px;
  padding-left: 0;
  padding-right: 0;
}

body .card-footer {
  background-color: inherit;
  border-top: none;
  padding: inherit;
}

@media only screen and (max-width: 990px) {
  body .block1 {
    margin-left: 0px;
    padding-left: 0;
    padding-right: 0;
  }

  body .container#separateur {
    margin: 20px 0;
  }

  .card-deck {
    margin-left: 5px;
  margin-right: 5px;
  }

  body .card-deck .card button {
    width: inherit;
  }
}
